
.button {
	-webkit-tap-highlight-color: transparent;
	background-color: #55a1fb;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: 42px;
	line-height: 42px;
	outline: none;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
	width: auto; }
.button:hover, .button:focus {
	background-color: #4196fb; }
.button:active, .button.nice-select.open {
	background-color: #2d8bfa; }
.button.light {
	background-color: #fff;
	border: 1px solid #e0e7ee;
	color: #55a1fb;
	line-height: 40px;
	margin-left: 24px; }
.button.light:hover {
	border-color: #d0dae5; }
.button.light:active, .button.light.nice-select.open, .button.light:focus {
	border-color: #88bfff; }
@media screen and (max-width: 360px) {
	.button {
		width: 100%; }
	.button.light {
		margin: 18px 0 0; } }
#apply {
	width: 15em;
	font-family: "Helvetica-Light", "roboto";
	font-size: 17px;
	padding-top: 1px;
	padding-bottom: 2px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	outline: none;
}
#more {
	width: 15em;
	font-family: "Helvetica-Light", "roboto";
	font-size: 17px;
	padding-top: 1px;
	padding-bottom: 2px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	outline: none;
}

.fender {
	width: auto;
	height: auto;
}

.fender img {
	max-width: 50%;
	height: auto;
}